/* Gellum Business Hours - Public Shortcode Styles [gellum_business_hours] */

.gellum-business-hours-status {
}

.gellum-business-hours-open {
    background-color: #E6FAF0; 
    color: #009879;
    padding: 5px 10px; 
    border-radius: 5px; 
    display: inline-block; 
    font-size: 0.9em; /* Adjust as needed */
}

.gellum-business-hours-closed {
    background-color: #F8D7DA; 
    color: #DC3545;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 0.9em; /* Adjust as needed */
}
